.sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    top: 60px;
    width: 120px;
    z-index: 1;
    height: 100%;
}
@media (max-width: 600px){
    .sidebar{
        width: 80px;
    }
}

.sidebar-link {
    background-color: white;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.sidebar-link:hover {
    background-color: #f7f7f7;
}
.sidebar-link img{
    height: 25px;
}
.sidebar-link div{
    font-family: Roboto, Arial;
    font-size: 10px;
    padding: 5px 1px 1px 1px ;
}